/* 프로젝트 서브 페이지 공통 푸터 */
.project-footer {
  padding: 63px 0 20px;
  text-align: center;
  color: #999;
}

.project-footer p {
  margin: 0;
  color: #b9bbc4;
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 760px) {
  .project-footer {
    padding-top: 42px;
  }
}
